{
  debug
}

(php) {
  root * ./public/php
  rewrite * /{args[0]}.php
  php_fastcgi unix//run/php/php-fpm.sock
}

(folder) {
  root * ./public/{args[0]}
  file_server
}

:8080 {
  root * ./public/html
  encode gzip zstd
  
  handle_path /assets/* {
    import folder assets
  }
  
  handle_path /css/* {
    import folder css
  }
  
  handle /wares {
    import php wares
  }

  @phpfiles path *.php
  handle @phpfiles {
    root * ./public/html
    rewrite * /403.html
    file_server
  }
  
  handle {
    try_files {path}.html {path}/ {path}
    file_server
  }
  
  handle_errors {
    @notfound expression {http.error.status_code} == 404
    rewrite @notfound /404.html
    file_server
    
    @forbidden expression {http.error.status_code} == 403
    rewrite @forbidden /403.html
    file_server
  }
}