{
  debug
}

:8080 {
  handle_path /assets/* {
    root * ./public/assets
    file_server
  }
    handle_path /css/* {
    root * ./public/css
    file_server
  }
  handle_path /js/* {
    root * ./public/js
    file_server
  }
  handle {
    root * ./public/html
    try_files {path}.html {path}/
    file_server
    encode gzip zstd
  }
  handle_errors {
    @notfound {
      expression {http.error.status_code} == 404
    }
    rewrite @notfound ./public/404.html
    file_server
  }
}