@import "./vars.css";
@import "./base.css";
@import "./utility.css";
@import "./nav.css";

#info-box pre::before {
  content: "rev 5-1125\00000a\00000a";
}

#edgebug-gif {
  left: -2% !important;
  width: 80%;
  height: auto;
  display: block;
  max-width: 720px;
  background-color: var(--bg-colour);
}

#edgebug-gif-fallback {
  z-index: -1;
}

#edgebug-gif-wrapper {
  width: fit-content;
  height: fit-content;
}
