.fix-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.abs-center {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  width: max-content;
  height: max-content; 
}

.hidden {
  display: none !important;
}